   h1 {
  color: white;
  text-align: center;
     font-size: 60px;
}

body {
  background-color: black;
}

#landingpage {
  background-color: black;
  background-image: url('fire.jpg');
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nextpage{
text-color:yellow;
}

