   h1 {
  color: white;
  text-align: center;
     font-size: 60px;
}

body {
  background-color: black;
}

#landingpage {
  background-color: black;
  background-image: url('fire.jpg');
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
a.nextpage:link, a.nextpage:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.nextpage:hover, a.nextpage:active {
  background-color: red;
}
*/
 div.nextpage{
    border-radius: 25px;
    align: center;
  background-color: white;
  color: black;
    font-size: 34px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    width: 70%;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
