html {
   height: 100%;
}

h1 {
  color: white;
  text-align: center;
     font-size: 60px;
   font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

body {
  background-color: black;
}

body.landingpage {
  background-color: black;
  background-image: url('fire.jpg');
  min-height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 div.nextpage{
      position: fixed;
  bottom: 10%;
  left:15%;
  right:15%;
    border-radius: 25px;
    align: center;
  background-color: white;
  color: black;
    font-size: 44px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#orangediv{
background-color: orange;
}
